In [69]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt

In [67]:
def make_data():
    apple = pd.read_csv('AAPL.csv')
    intel = pd.read_csv('INTC.csv')
    cola = pd.read_csv('KO.csv')
    micro = pd.read_csv('MSFT.csv')
    tesla = pd.read_csv('TSLA.csv')

    apple['Date'] = pd.to_datetime(apple['Date'])
    intel['Date'] = pd.to_datetime(intel['Date'])
    cola['Date'] = pd.to_datetime(cola['Date'])
    micro['Date'] = pd.to_datetime(micro['Date'])
    tesla['Date'] = pd.to_datetime(tesla['Date'])

    tesla_cl = tesla['Adj Close'].pct_change()
    apple_cl = apple['Adj Close'].pct_change()
    cola_cl = cola['Adj Close'].pct_change()
    micro_cl = micro['Adj Close'].pct_change()
    intel_cl = intel['Adj Close'].pct_change()
    date = apple['Date']

    #print(tesla_cl.iloc[-1], apple_cl.iloc[-1], cola_cl.iloc[-1], micro_cl.iloc[-1], intel_cl.iloc[-1])
    return_mat = pd.DataFrame(data=[tesla_cl,apple_cl,cola_cl,micro_cl,intel_cl])
    return_mat = return_mat.T
    return_mat.columns = ['Tesla','Apple','Cola','Micro','Intel']

    return return_mat, date

data, index = make_data()
data.index = index
data

               Tesla     Apple      Cola     Micro     Intel
Date
2018-12-04       NaN       NaN       NaN       NaN       NaN
2018-12-06  0.009341 -0.011150 -0.004034  0.006174  0.012985
2018-12-07 -0.014020 -0.035657 -0.005873 -0.040022 -0.044036
2018-12-10  0.020057  0.006588  0.003056  0.026426  0.020977
2018-12-11  0.004409 -0.005720  0.006093  0.009295  0.003601
...              ...       ...       ...       ...       ...
2023-11-27  0.002676 -0.000948 -0.001878  0.003126  0.002730
2023-11-28  0.045069  0.003214  0.002053  0.010803  0.003403
2023-11-29 -0.010457 -0.005410 -0.005975 -0.010060  0.016052
2023-11-30 -0.016630  0.003063  0.011598  0.000158 -0.005340
2023-12-01 -0.005207  0.006791  0.003422 -0.011612 -0.021476

[1257 rows x 5 columns]

In [68]:
data = data.dropna()
data

               Tesla     Apple      Cola     Micro     Intel
Date
2018-12-06  0.009341 -0.011150 -0.004034  0.006174  0.012985
2018-12-07 -0.014020 -0.035657 -0.005873 -0.040022 -0.044036
2018-12-10  0.020057  0.006588  0.003056  0.026426  0.020977
2018-12-11  0.004409 -0.005720  0.006093  0.009295  0.003601
2018-12-12 -0.000436  0.002787 -0.006459  0.004513  0.009498
...              ...       ...       ...       ...       ...
2023-11-27  0.002676 -0.000948 -0.001878  0.003126  0.002730
2023-11-28  0.045069  0.003214  0.002053  0.010803  0.003403
2023-11-29 -0.010457 -0.005410 -0.005975 -0.010060  0.016052
2023-11-30 -0.016630  0.003063  0.011598  0.000158 -0.005340
2023-12-01 -0.005207  0.006791  0.003422 -0.011612 -0.021476

[1256 rows x 5 columns]

In [70]:
scaler = StandardScaler()
scaled_data = scaler.fit_transform(data)

In [73]:
num_components = 5

# Create PCA object
pca = PCA(n_components=num_components)

# Fit and transform the data
principal_components = pca.fit_transform(data)

In [74]:
pc_df = pd.DataFrame(data=principal_components, columns=[f'PC{i+1}' for i in range(num_components)])

# Explained variance ratio
explained_variance_ratio = pca.explained_variance_ratio_
print(f'Explained Variance Ratio: {explained_variance_ratio}')

# Display the DataFrame with principal components
print(pc_df)

Explained Variance Ratio: [0.64872902 0.20865342 0.07420976 0.03976683 0.02864098]
           PC1       PC2       PC3       PC4       PC5
0    -0.006631  0.000413 -0.014963  0.000901 -0.011706
1     0.052616 -0.049323 -0.003546 -0.011098  0.004931
2    -0.030429  0.015538 -0.002807  0.002172 -0.014759
3    -0.003176  0.002766 -0.001468 -0.006319 -0.010144
4    -0.001024  0.007571 -0.005834  0.007573 -0.001701
...        ...       ...       ...       ...       ...
1251 -0.000344  0.000827 -0.002630  0.001713 -0.003038
1252 -0.040019 -0.016160 -0.000616 -0.001857 -0.006201
1253  0.012066  0.008401 -0.019696  0.002991  0.004464
1254  0.016604  0.009564  0.008695 -0.009237  0.002671
1255  0.015292 -0.011385  0.014542 -0.003048  0.012522

[1256 rows x 5 columns]

In [75]:
loadings_df = pd.DataFrame(pca.components_.T, columns=[f'PC{i+1}' for i in range(num_components)], index=data.columns)
print('Loadings of Original Features on Principal Components:')
print(loadings_df)

Loadings of Original Features on Principal Components:
            PC1       PC2       PC3       PC4       PC5
Tesla -0.837282 -0.537144 -0.085744 -0.054808 -0.008912
Apple -0.317808  0.374053  0.502817  0.297414  0.646376
Cola  -0.103150  0.219244  0.226523 -0.940094  0.078757
Micro -0.291171  0.384870  0.410520  0.157160 -0.757541
Intel -0.320213  0.612673 -0.721099  0.008055  0.045247